:root {
  /* globals */
  //--font-size-xs: 10px;
  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-x: 18px;
  --font-size-xl: 20px;
  --font-size-xlll: 28px;
  --font-size-xll: 32px;
  --font-size-xxl: 36px;
  --font-size-xxxxl: 56px;

  /* line-heights */
  --line-height-s: 12px;
  --line-height-m: 14px;
  --line-height-l: 19.62px;
  --line-height-xl: 23.94px;
  --line-height-xll: 30px;
  --line-height-xlll: 38.5px;
  --line-height-xxl: 42.19px;
  --line-height-xxll: 51.32px;
  --line-height-xxxl: 67.2px;
  /* font-weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 700;
  --font-weight-bold: 900;
}
